fastapi[standard]
uvicorn
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
sqlmodel
pydantic
python-dotenv
asyncpg
psycopg2-binary
fastapi-pagination
pytest
pytest-asyncio
httpx
langchain
langchain-community
langchain-openai
openai
langchain-groq
groq
chromadb
sqlalchemy
pypdf
transformers<5.0.0
huggingface-hub<1.0.0
sentence-transformers
langchain-huggingface
python-multipart
requests
langgraph
tiktoken
faiss-cpu==1.7.4
numpy==1.26.4
alembic
pydantic-settings
websockets
loguru
greenlet